<!DOCTYPE html>
<html lang="ja">
  <meta charset="UTF-8">
  <title>option | ll</title>
  <link rel="stylesheet/less" type="text/css" href="style/options.less">

  <main class="opts-container">
    <section class="opts-section">
      <h2 class="opts-name">Aliases</h2>
      <input class="opts-input" ng-repeat="item in ll.items">{{item.alias}}
      <div class="opts-btn-add"></div>
    </section>
    <a class="opts-btn-save" role="button" ng-click="save()">保存</a>
  </main>

  <script src="script/lib/lib.js"></script>
  <script src="script/options.js"></script>
</html>
