body {
  width: 233px;
}
.label {
  display: block;
  font-weight: bold;
  margin-bottom: .5em;
}
.input-alias,
.input-category {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 7px;
  border: 1px solid #ccc;
  margin-bottom: .75em;
  outline: none;
  transition: .2s ease-in;
}
.input-alias:focus,
.input-category:focus { border: 1px solid #55acee; }
.action { text-align: right; }
.btn {
  border: 1px solid #ccc;
  border-radius: 2px;
  background: transparent;
  transition: .2s ease-in;
}
.btn { cursor: pointer; }
.ng-invalid.ng-touched,
.ng-invalid.ng-touched:focus {
  border-color: #DB4D6D;
}
.btn:hover { background: rgba(0,0,0,.3); }
.alert {
  margin: 0 0 1em;
  color: #DB4D6D;
}
.btn-red { background: #DB4D6D; }
.btn[disabled] { background: transparent; }
.more {
  display: block;
  padding: .75em;
  margin: 1em 0;
  text-align: center;  background: rgba(0,0,0,.4);
  cursor: pointer;
}
